!!!

html(ng-app="inspector")
    head
        block head

            meta(charset='utf8')

            title AngularJS Directive Scope Inspector
            link(rel='stylesheet', href='css/bootstrap/bootstrap.css')
            link(rel='stylesheet', href='css/flaticons/solid/solid.css')
            link(rel='stylesheet', href='css/flaticons/stroke/stroke.css')
            link(rel='stylesheet', href='css/flaticons/social/social.css')
            link(rel='stylesheet', href='css/inspector.css')

            script(src='js/build.js')
            script(src='js/inspector.js')
            script(src="//use.typekit.net/xlg6xil.js")
            script.
                try{Typekit.load();}catch(e){}


        block body

            body(ng-controller="AppCtrl")

                block content

